@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme{
  --breakpoint-* :initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;

  --color-primary: #ff6363;

   
   --font-neonderthaw:Neonderthaw, cursive;
   --font-monserrat:Montserrat, sans-serif;
}